<h1>Url Shortener</h1>
<% @urls.each_with_index do |url, index| %>
  <p>
    <%= index+1%> click_count:<%= url.click_count %>
    <%= link_to url.short_url, add_click_count_url_path(url), method: 'post' %>    
    --> <%= url.original_url %>    
    <%= link_to 'edit',edit_url_path(url) %>
    <%= link_to 'delete', url_path(url), method: :delete%>
  </p>
<% end %>

<%= link_to "Shorten another URL", new_url_path %>
